body{

margin:0;
overflow:hidden;

background:black;

font-family:Arial;
}

.scene{

position:relative;

width:100vw;

height:100vh;

overflow:hidden;
}

.bg{

position:absolute;

width:100%;

height:100%;

object-fit:cover;
}

.layer{

position:absolute;
}

.choices{

position:absolute;

bottom:50px;

left:50%;

transform:translateX(-50%);

display:flex;

gap:20px;
}